.static{
  position: sticky !important;
  top: 0;
  left: 0;
  z-index: 1;
}

 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  position: relative;
  z-index: 10;
}

ul.offcanvas-menu {
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: large;
  margin: 0px;
}
ul.offcanvas-menu li a{
  text-decoration: none !important;
  color: white;
}

ul.offcanvas-menu li a:hover{
  color: yellow;
}


.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 50px;
  width: 100px;
  border: none;
}

.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a,
.btn {
  color: white;
  text-decoration: none;
}

.navbar-links a:hover,
.btn:hover {
  color: yellow;
}

.navbar input[type="search"] {
  margin-left: 20px;
  border-radius: 5px;
  padding: 5px;
}

.navbar-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}



@media (max-width: 768px) {

  .offcanvas-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 175px;
    height: 60%;
    background-color: #333;
    transition: right 0.3s ease;
    z-index: -1;
    display: flex;
    flex-direction: column;
    padding-top: 60px;

  }

  .offcanvas-menu.open {
    right: 0;
  }

  ul li {
    list-style: none;
  }

  li a {
    text-decoration: none;
    color: white !important;
  }


  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    z-index: 10;

  }

  .navbar-links li {
    margin: 10px 0;
    text-align: center;
    width: 100%;
    text-decoration: none;
  }

  .navbar-toggle {
    display: block;
  }
}

@media (min-width: 769px) {
  .navbar-toggle {
    display: none;
  }
}  

